<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="Server"
      xsi:type="File"
      fileName="${basedir}/Logs/${shortdate}/Server.txt"
      layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>
    <target name="Server_Error"
      xsi:type="File"
      fileName="${basedir}/Logs/${shortdate}/Server_Error.txt"
      layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>
    
    <target name="Follow"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/${event-context:item=Sport}/${event-context:item=Sport}${event-context:item=LogType}.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8" />
    
    <target name="Follow_down"
        xsi:type="File"
        fileName="${basedir}/Logs/${shortdate}/${event-context:item=Sport}/${event-context:item=FileType}/${event-context:item=Sport}${event-context:item=LogType}${event-context:item=LogTime}.txt"
        layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>
    
    <target name="Follow_update"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}/${event-context:item=Sport}/${event-context:item=FileType}/${event-context:item=Sport}${event-context:item=LogType}${event-context:item=LogTime}.txt"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>

    <target name="Dependency"
       xsi:type="File"
       fileName="${basedir}/Logs/${shortdate}/Dependency.txt"
       layout="${longdate} | ${level:uppercase=true} | ${message} ${newline}" encoding="utf-8"/>


  </targets>

  <rules>
    <logger name="Server" levels="Debug, Info" writeTo="Server" />
    <logger name="Server_Error" levels="Warn, Error" writeTo="Server_Error" />
    <logger name="Follow" levels="Debug, Warn, Info, Error" writeTo="Follow" />
    <logger name="Follow_down" levels="Debug, Warn, Info, Error" writeTo="Follow_down" />
    <logger name="Follow_update" levels="Debug, Warn, Info, Error" writeTo="Follow_update" />
    <logger name="Dependency" levels="Debug, Warn, Info, Error" writeTo="Dependency" />
  </rules>
</nlog>